
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    text-align: center;
  }
  
  .tituloPagina {
    display: flex;
    align-items: center;
    justify-content: center; 
}

img {
    margin-right: 20px;
    border-radius: 20px;
}

h1 {
    margin: 0;
}
 
.pagina {
    max-width: 90%;
    display: inline-block;
    vertical-align: top;
    align-items: center;
    margin: 20px auto;
    flex-wrap: wrap;
    vertical-align: top;
  }
  
  .sobre {
    font-size: large;
    padding: 5px 15px;
    margin: 10px;
  }
  
  .borda {
    border: 2px solid rgb(0, 8, 255);
    width: fit-content;
    display: inline-block;
    border-radius: 20px;
    vertical-align: top;
    padding: 0;
    margin: 20px 0;
  }
  
  .ladoesquerdo {
    display: inline-block;
    text-align: center;
    margin: 20px;
    max-width: 600px;
    width: 100%;
    height: 440px;
    padding: 0 10px;
    border-radius: 20px;
    align-items: center;
    border: 2px solid rgb(0, 8, 255);
    vertical-align: top;
    flex-wrap: wrap;
  }
  
  .ladodireito {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: fit-content;
    height: 440px;
    border-radius: 20px;
    align-items: center;
    vertical-align: top;
    flex-wrap: wrap;
  }
  
  .containerTecnologiasPrimeiroGrid {
    margin: 0 auto;
    text-align: justify;
    width: fit-content;
    border-radius: 20px;
    align-items: center;
    padding: auto;
    flex-wrap: wrap;
  }
  
  .linguagensProgramacao,
  .bancosDados,
  .meusFrameworks {
    display: inline-block;
    gap: 50px;
    padding: 0 35px;
    margin: 5px;
    vertical-align: top;
    flex-wrap: wrap;
  }
  
  .containerTecnologiasSegundoGrid {
    margin: 10px auto;
    
    border-radius: 20px;
    align-items: center;
    padding: 0 auto;
  }
  
  .ambientesDesenvolvimento,
  .ambientesProdutividade,
  .ambientesDesign {
    display: inline-block;
    gap: 80px;
    text-align: justify;
    padding: 0 15px;
    margin: 0 5px;
    margin-bottom: 10px;
    vertical-align: top;
    flex-wrap: wrap;
  }
  
  .inferior {
    margin: 0 auto;
    text-align: justify;
    width: fit-content;
    border-radius: 20px;
    align-items: center;
    padding: 0 auto;
    flex-wrap: wrap;
    border: 2px solid rgb(0, 8, 255);
    align-items: center;
    box-sizing: border-box;
    overflow-x: auto;
  }
  
  .infoContato,
  .portifolio {
    display: inline-block;
    gap: 80px;
    
    margin: 0 5px;
    margin-bottom: 10px;
    vertical-align: top;
    flex-wrap: wrap;
    text-align: justify;
  }
  
  a {
    color: rgb(70, 73, 152);
    text-decoration: none;
  }
  
  a:hover {
    color: #fff;
  }
  
  .lista {
    font-size: large;
  }
  
  
  @media only screen and (max-width: 480px) {
    .pagina {
        width: 90%;
        margin: 0 auto; /* Centraliza a página */
        padding: 30px 0;
        text-align: center; /* Centraliza o texto dentro da página */
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
        margin: 20px 0 10px; /* Espaçamento entre os h3 */
        text-align: center; /* Centraliza o texto */
    }

    p {
        font-size: 16px;
    }

    ul {
        font-size: 12px;
        list-style-type: none; /* Remove os bullets padrão */
        padding: 0; /* Remove padding padrão */
        margin: 0; /* Remove margem padrão */
        text-align: justify; /* Justifica o texto */
    }

    .borda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Centraliza verticalmente */
    }

    .ladoesquerdo, .ladodireito {
        width: 95%;
        height: auto;
        padding: 0;
        margin: 0 auto 10px; /* Espaço entre os blocos */
    }
    
    .linguagensProgramacao, .bancosDados, .meusFrameworks  {
        padding: 10px;
        margin-bottom: 2px; /* Espaço entre os blocos */
        width: fit-content;
    }

    .linguagensProgramacao h3, .bancosDados h3, .meusFrameworks h3 {
        margin-top: 0; /* Remove espaço superior do h3 */
    }

    .ambientesDesenvolvimento, .ambientesProdutividade, .ambientesDesign {
        display: block;
        padding: 10px;
        margin-bottom: 2px;
        width: fit-content;

        
    }

    .ambientesDesenvolvimento h3, .ambientesProdutividade h3, .ambientesDesign h3 {
        margin-top: 0; /* Remove espaço superior do h3 */
        
    }

    .inferior {
        text-align: justify;
    }

    .linksportifolio, .contato {
        text-align: justify;
        width: fit-content;
        margin: 0px;
        padding: 0px;
        width: 80%;

        a {
            font-size: 16px;
            text-align: justify;
        }
    }

    ul {
        text-align: justify; /* Justifica o texto dentro das listas */
    }
}



