body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: rgb(109, 99, 15);
    text-align: center;
    
    
}

.pagina {
    max-width:90%;
    display: inline-block;
    vertical-align: top;
    align-items: center;
    margin: 20px auto;
    flex-wrap: wrap;
    vertical-align: top;
    
}

.sobre{
    font-size: large;
    padding: 5px 15px;
    margin: 10px;
}

.borda {
    border: 2px solid yellow;
    width: fit-content;
    display: inline-block;
    border-radius: 20px;
    vertical-align: top;
    padding: 0;
    margin: 20px 0;
    
}

.ladoesquerdo {
    display: inline-block;
    text-align: center;
    margin: 20px;
    max-width: 600px;
    width: 100%;
    height: 440px;
    padding: 0 10px;
    border-radius: 20px;
    align-items: center;
    border: 2px solid yellow;
    vertical-align: top;
    flex-wrap: wrap;
    
}



.ladodireito {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: fit-content;
    height: 440px;
    border-radius: 20px;
    align-items: center;
    vertical-align: top;
    flex-wrap: wrap;
    
}


.containerTecnologiasPrimeiroGrid {
    margin: 0 auto;
    text-align: justify;
    width: fit-content;
    border-radius: 20px;
    align-items: center;
    padding: auto;
    flex-wrap: wrap;
    
    /* border: 2px solid green;  /* Só Para testar alinhamento /* */

}

 .linguagensProgramacao, .bancosDados, .meusFrameworks {
    display: inline-block;
    gap: 50px;
    padding: 0 35px;
    margin: 5px 5px;
    vertical-align: top;
    flex-wrap: wrap;
    
    
    /* border: 2px solid red;  /* Só Para testar alinhamento /*  */

    
     
}   


.containerTecnologiasSegundoGrid {
    margin: 10px auto;
    width: fit-content;
    border-radius: 20px;
    align-items: center;
    padding: 0 auto;
    


    /* border: 2px solid green;   /* Só Para testar alinhamento /*  */
}


.ambientesDesenvolvimento, .ambientesProdutividade,  .ambientesDesign  {
    display: inline-block;
    gap: 80px;
    text-align: justify;
    padding: 0 15px;
    margin: 0 5px;
    margin-bottom: 10px;
    vertical-align: top;
    flex-wrap: wrap;
   
    
    /* border: 2px solid red;  /* Só Para testar alinhamento /*  */
  
}

.inferior {
    margin: 0 auto;
    text-align: justify;
    width: fit-content;
    border-radius: 20px;
    align-items: center;
    padding: 0 auto;
    flex-wrap: wrap;
    border: 2px solid yellow;
    align-items: center;

}

.infoContato , .portifolio {
    display: inline-block;
    gap: 80px;
    padding: 0 40px;
    margin: 0 5px;
    margin-bottom: 10px;
    vertical-align: top;
    flex-wrap: wrap;
    text-align: justify;
    


}

a {
    color:rgb(109, 103, 47);
    text-decoration: none;
    
}

a:hover {
    color: white;
}


.lista {
    font-size: large;
}


